<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{url_for('static', filename='master.css')}}" type="text/css" media="all" charset="utf-8">
        <script src="//code.jquery.com/jquery-2.0.3.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{url_for('static', filename='master.js')}}" type="text/javascript" charset="utf-8"></script>
        <title>Form</title>
    </head>
    <body>
        <div id="main" class="block">
            <div id="messages">
            </div>
            <form action="{{url_for('result')}}" method="get" class="lastline query">
                <input type="submit" value="Send" />
                <span class="holder">
                    <input type="text" name="query" autocomplete="off" />
                </span>
            </form>
        </div>
        <div id="teach" class="block">
            <p>I learned {{count}} sentences. Please teach me.</p>
            <form action="{{url_for('teach')}}" method="post" class="teach">
                <p>When you saying this:</p>
                <textarea name="question"></textarea>
                <p>Then I'll say this:</p>
                <textarea name="answer"></textarea>
                <input type="submit" value="teach" />
            </form>
        </div>
    </body>
</html>
