html {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: auto;
}

form input {
    border: 1px solid black;
    padding: 0;
}

form input[type=submit] {
    background: #4a5371;
    -webkit-appearance: none;
}

.block {
    display: inline-block;
    max-width: 100%;
    width: 400px;
    padding: 1em;
    border-radius: 1em;
    box-sizing: border-box;
    vertical-align: top;
    box-shadow: 0 0 5px black;
}

#messages {
    width: 100%;
    height: 600px;
    overflow: scroll;
}

#messages > .message {
    overflow: auto;
}

#messages > .message > .msg {
    margin: 1em 10px;
    box-shadow: 2px 2px 5px black;
    border-radius: 1em;
    padding: 1em;
}

#messages > .message.me > .msg {
    background: #a6f882;
    float: right;
}

#messages > .message.other > .msg {
    background: #e2e9dc;
    float: left;
}

.lastline input {
    font-size: 1.5em;
    pading: .3em;
    margin: 0;
}

.lastline > input[type=submit] {
    float: right;
    height: 100%;
}

.lastline > span.holder {
    display: block;
    overflow: hidden;
    padding-right: 10px;
}

.lastline > span.holder > input[type=text] {
    width: 100%;
    height: 100%;
}


.teach textarea {
    display: block;
    width: 100%;
    height: 120px;
    margin: 1em 0;
}

.teach input[type=submit] {
    font-size: 2em;
    width: 100%;
    padding: .2em;
}
